<h1 class="current-course"><%=params[:course]%></h1>
<% if @slides.count== 0 %>
<h1>There are no slides currently in this course</h1>
<% else %>
<% @slides.each do |slide| %>
<h2><%=link_to slide.Title, slide_path(slide)%></h2>
<%end%>
<%end%>


